<ng-container *ngIf="app">
  <div class="media media-plus">
      <div class="media-left media-middle">
          <img [src]="app.icon" class="media-object" alt="">
      </div>
      <div class="media-body" style="vertical-align: middle;">
          <h4 class="media-heading app-name app-text" style="margin-bottom:0;"
          [style.max-width]="app.maxWidth">{{app.title}}</h4>
          <i class="app-text" [style.max-width]="app.maxWidth"
          style="display:block;">{{app.dev}}</i>
          <span class="app-text media-info" [style.max-width]="500">
              <span class="hidden-xs"><b>{{devices[app.device]}}</b> :: Категория: </span>
              {{app.catNames}}
          </span>
          <span *ngIf="app.rating" class="media-info" style="font-size:11px">
              <i class="fa gold" [class.fa-star]="app.rating-1>=0"></i>
              <i class="fa gold" [class.fa-star]="app.rating-2>=0"
                  [class.fa-star-half-o]="app.rating-1==0.5"></i>
              <i class="fa gold" [class.fa-star]="app.rating-3>=0"
                  [class.fa-star-half-o]="app.rating-2==0.5"></i>
              <i class="fa gold" [class.fa-star]="app.rating-4>=0"
                  [class.fa-star-half-o]="app.rating-3==0.5"></i>
              <i class="fa gold" [class.fa-star]="app.rating-5>=0"
                  [class.fa-star-half-o]="app.rating-4==0.5"></i>
              <span>({{app.reviews}})</span>
          </span>
      </div>
      <div class="media-right media-middle">
          <div class=" app-price">
          <span class="text-success new-price">{{app.newprice}}</span>
          <ng-container *ngIf="app.oldprice">
          <span class="text-danger old-price" >{{app.oldprice}}</span>
          </ng-container> 
          </div>      
      </div>
      <div class="media-right media-middle">
          <a class="btn btn-link padless" href="{{app.link}}" role="button" target="_blank">
              <span class="fa fa-chevron-right fa-lg visible-xs" aria-hidden="true"></span>
              <span class="hidden-xs">полное описание</span>
          </a>
      </div>
  </div>
  </ng-container>